@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

input[type="checkbox"] {
  accent-color: #ea6a11;
}

.active g {
  fill: #ea6a11;
}

.active path {
  stroke: #ea6a11;
  stroke-width: 2px;
}
