@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  font-family: "Outfit", sans-serif !important;
  scroll-behavior: smooth;
}

.rubik {
  font-family: "Rubik", sans-serif !important;
}

input[type="checkbox"] {
  accent-color: var(--theme-primary);
}
input[type="radio"] {
  accent-color: var(--theme-primary);
}

.container1 {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container1::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media screen and (max-width: 576px) {
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
